.welcome-section {
    display: flex;
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: center; /* Centra los elementos horizontalmente */
    padding: 20px;
    text-align: center; /* Centra el texto */
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    background: "linear-gradient(135deg, #0e7f99 30%, #122e63 100%)";
    min-height: 100vh;
    position: relative;
  }
  
  .circle {
    position: relative;
    margin-right: 50px; /* Espacio más grande entre la imagen y el texto */
  }
  
  .circle-image {
    width: 300px; /* Tamaño mucho más grande para la imagen */
    height: 300px; /* Tamaño mucho más grande para la imagen */
    border-radius: 50%; /* Hace la imagen circular */
    object-fit: cover; /* Ajusta la imagen para cubrir el círculo */
    cursor: pointer;
    border: 5px solid #ddd; /* Borde más grueso */
  }
  
  .welcome-text h1 {
    font-size: 72px; /* Mucho más grande para el texto del título */
    margin: 0;
    color: #e1f3ff;
  }
  
  .welcome-text p {
    font-size: 36px; /* Mucho más grande para el texto del párrafo */
    color: #e1f3ff;
    margin: 20px 0 0; /* Ajusta el margen */
  }
  