/* UserForm.css */
.registration-form {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.registration-form.dark-mode {
  background-color: #2e2e2e;
  color: #ffffff;
}

.registration-form h4 {
  color: #0c446c;
  margin-bottom: 1.5rem;
}

.registration-form.dark-mode h4 {
  color: #ffffff;
}

.registration-form .MuiTextField-root {
  margin-bottom: 1rem;
}

.registration-form .MuiButton-containedPrimary {
  background-color: #0494c4;
}

.registration-form .MuiButton-containedPrimary:hover {
  background-color: #0898b4;
}
