/* General Styles */
.publication-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  max-width: 300px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.publication-card.dark-mode {
  background-color: #2c2c2c; /* Fondo oscuro */
  color: #f5f5f5; /* Texto claro */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.publication-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.publication-card.dark-mode:hover {
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.publication-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Details Section */
.publication-details {
  padding: 1rem;
  text-align: center;
}

.publication-details.dark-mode {
  color: #f5f5f5; /* Detalles en texto claro */
}

.publication-author {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
}

.publication-author.dark-mode {
  color: #ffffff; /* Autor en blanco */
}

.publication-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
}

.publication-description.dark-mode {
  color: #b3b3b3; /* Descripción en gris claro */
}

.publication-email {
  font-size: 0.9rem;
  color: #999;
}

.publication-email.dark-mode {
  color: #cccccc; /* Email en gris claro */
}

/* Responsive Design */
@media (max-width: 768px) {
  .publication-card {
    max-width: 100%;
  }
}
