::-webkit-scrollbar {
    width: 10px; 
    height: 10px; 
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #49A078; 
    border-radius: 10px; 
    border: 2px solid rgba(0, 0, 0, 0.2); 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #216869; 
  }
  
  ::-webkit-scrollbar-button {
    background-color: transparent; 
  }
  
  scrollbar {
    width: 10px;
  }
  
  scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  scrollbar-thumb {
    background: #49A078;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.2);
  }
  
  scrollbar-thumb:hover {
    background: #216869;
  }
  
  
  /* Diseño Responsive */
  @media (max-width: 600px) {
    .header, .main-content, .footer {
      padding: 1rem;
      font-size: 0.9rem;
    }
  
    .toggle-button {
      padding: 0.5rem;
    }
  }
  
  